---
title: Lucifer
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Illuminating CLI testing.">
    <meta name="keywords" content="lucifer, cli, testing">
    <meta name="date" content="10/01/2022">
    <meta name="author" content="Winston Puckett">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐲</text></svg>"">

    <title>{{ title }}</title>
</head>
<body>

<header>
    {% set navPages = collections.all | eleventyNavigation %}
    {% macro renderNavListItem(entry) -%}
    <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    {%- if entry.children.length -%}
    <ul>
        {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
    </ul>
    {%- endif -%}
    </li>
    {%- endmacro %}

    <ul>
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
    </ul>
</header>

<main>
    {{ content | safe }}
</main>

<footer><p>By Winston Puckett. <a href="https://github.com/winstonpucket/lucifer-documentation/LICENSE">License</a></p></footer>

</body>
</html>