:root {
    --c-60: #fff;
    --c-30: linear-gradient(#fafafa, #f0f0f0);
    --c-f-10: #1c1c1c;
    --c-f-60: #121727;
    --c-f-30: #6d727e;
    --c-10: #d3d3d3;
    --f-size: 1em;
    --f-size-large: 1.2em;
    --f-size-xlarge: 1.4em;
    --flex-smallgap: 1.2em;

    --shadow-small: 0 0 5px rgba(1 1 1 / 10%);
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: var(--c-60);
    display: grid;
    grid-template-areas:
        "header header header"
        "menu main main"
        "footer footer footer";
    min-height: 100vh;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 225px auto auto;
}

header,
footer {
    z-index: 2;
    background-color: var(--c-60);
    padding-left: var(--flex-smallgap);
    box-shadow: var(--shadow-small);
    height: fit-content;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

footer {
    grid-area: footer;
}

nav {
    grid-area: menu;
    display: flex;
    padding: var(--flex-smallgap);
    flex-direction: column;
    gap: var(--flex-smallgap);
    background: var(--c-30);
}

p {
    font-size: var(--f-size);
}

h1,h2,h3,h4 {
    color: var(--c-f-60);
}

p,
summary,
details,
li,ul {
    color: var(--c-f-30);
}

main {
    grid-area: main;
    box-shadow: var(--shadow-small);
    z-index: 1;
    padding: var(--flex-smallgap);
    padding-top: 0;
    height: 100%;
}

a {
    color: var(--c-f-60);
}

.title__iconwrapper {
    margin: 0;
    height: 60px;
}

.title__link {
    text-decoration: none;
    background-color: transparent;
    border-bottom: none;
    color: var(--c-f-60);
    vertical-align: middle;
}

.nav__link {
    color: var(--c-f-30);
    background-color: transparent;
    border-bottom: none;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    line-height: 45px;
}

.nav__link--active {
    font-weight: bold;
    color: var(--c-f-60);
}

.nav__dropdownlist {
    display: flex;
    flex-direction: column;
    padding: var(--flex-smallgap);
    margin: 0;
    list-style: none;
    gap: var(--flex-smallgap);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48;
    line-height: unset;
    font-size: 1.5em;
    padding-right: 3px;
    max-width: 24px;
}

#to--nav {
    border-bottom: none;
    background-color: transparent;
}

#to--nav>span {
    display: none;
    color: var(--c-f-30);
    max-width: unset;
    font-size: 2.77em;
    padding-top: 2px;
    padding-right: 5px;
}

@media screen and (max-width: 850px) {
    body {
        grid-template-areas:
            "header"
            "main"
            "menu"
            "footer";

        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    #to--nav>span {
        display: inline-block;
    }
}