
:root {
    --c-60: #eee;
    --c-30: #ccc;
    --c-10: #00d26a;
    --c-f-60: #111;
    --c-f-30: #f00;
    --c-f-10: #0f0;
}

.title {
    margin-bottom: 0;
}

.title__link {
    text-decoration: none;
    color: var(--c-f-60);
}

nav {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.nav__section {
    display: flex;
    padding: 0;
    margin: 0;
}


.small__margin {
    margin: 1em;
}

.nav__link {
    color: var(--c-f-30);
    text-decoration: none;
}

.nav__link--active {
    color: var(--c-f-10);
}

.nav__section--inner--links {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--c-30);
    padding: 0;
    list-style: none;
}

.nav__link > a {
    text-decoration: none;
    color: var(--c-f-30);
}

.nav__section--inner > summary {
    color: var(--c-f-30);
}